
extends layout

block content
  link(rel="stylesheet", href="/stylesheets/index.css")
  h1= title
  .container
    // Message display area
    #messageContainer.message-container(style="display: none;")
      span#messageText
      button#closeMessage.close-btn ×
  form(action="/api/login" method="POST")
    div(id='emailForm')
     label(for="email") Email Address:
     input#email(type="email" name="email" required)
    div(id='passwordForm')
     label(for="password") Password:
     input(type="text" name="password" id="password" required)
    div.form-buttons
      button#login(type="submit") Login
      button#register(type="button") Register
    script(src="/javascripts/login.js")