
extends layout

block content
  link(rel="stylesheet", href="/stylesheets/user.css")
  form(action="/login" method="GET")
    div(id='emailForm')
     label(for="email") Email Address:
     input#email(type="email" name="email" required)
    div(id='passwordForm')
     label(for="password") Password:
     input(type="text" name="password" id="password" required)
    div.form-buttons
      button#loginUser(type="submit") Login
    script(src="/javascripts/login.js")