extends layout
block content
  link(rel="stylesheet", href="/stylesheets/random.css")
  .page-wrapper
  body
    .container#container
      .circle
        span.circle-number Click!
      .box 
        p You have to click five times and remember all the numbers!
      .button-group
        button First
        button Second
        button Third
        button Forth
        button Fifth
   script(src="/javascripts/random.js")