doctype html
html
  head
    title Random
    h1 Memory Game
    link(rel="stylesheet", href="/stylesheets/random.css")
  body
    .container
      .circle
        span.circle-number Click!
      .box 
        p You have to click five times and remember all the numbers!
      .button-group
        button First
        button Second
        button Third
        button Forth
        button Fifth
script(src="/javascripts/random.js")