body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: #4285f4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
  font-size: 7em;
  font-weight: bold;
}

.button-group {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

p {
  max-width: 1000px;
  text-align: center;
  font-size: 24px;
  color: #000000;
  margin-bottom: 20px;
}

button {
  padding: 12px 22px;
  font-size: 1.1em;
  border: none;
  border-radius: 6px;
  background: #333;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #555;
}